.home-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center !important; */
  padding-top: 15%;
  padding-right: 5%;
  padding-left: 5%;

  text-align: center;
  background-color: #ddd;
}

.landing-text-container {
  width: 100%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
}

.paragraph-text {
  width: 60%;
  font-size: 14pt !important;
}

.ant-typography code {
  background-color: #bbb !important;
  color: #005ae2 !important;
}

amplify-s3-image {
  --width: 400px;
}

@media only screen and (max-width: 900px) {
  .landing-text-container {
    width: 100%;
    text-align: center;
    padding: 0 !important;
    margin-top: 35%;
    margin-bottom: 60%;
  }
}
