.home-container {
  display: flex;
  flex-direction: row;
  padding-top: 15%;
  padding-right: 5%;
  padding-left: 5%;

  text-align: center;
  background-color: #ddd;
}

.landing-text-container {
  width: 100%;
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin-bottom: 20%;
}

.paragraph-text {
  width: 80%;
  font-size: 14pt !important;
}

.ant-typography code {
  background-color: #bbb !important;
  color: #005ae2 !important;
}
#landing-headshot {
  width: 320px;
  height: 345px;
  border-radius: 10%;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

@media only screen and (max-width: 900px) {
  .landing-text-container {
    width: 100%;
    text-align: center;
    padding: 0 !important;
    margin-top: 25%;
    margin-bottom: 75%;
  }

  .paragraph-text {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    font-size: 14pt !important;
  }

  #landing-headshot {
    display: none;
  }

  #contact-button {
    width: 80%;
    margin-top: 20px;
    height: 50px;
    font-size: 14pt;
    border-radius: 15px;
  }
}
